<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Login</label>
                        <input type="text" class="form-control" id="login" [(ngModel)]="user.login"
                            name="login">
                    </div>

                    <div class="form-group">
                        <label> Password</label>
                        <input type="text" class="form-control" id="password" [(ngModel)]="user.password"
                            name="password">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>